<p style="color: green"><%= notice %></p>

<h1>Reservation Details</h1>

<div>
  <p><strong>Reservation ID:</strong> <%= @reservation.id %></p>
  <p><strong>Reservation Date:</strong> <%= @reservation.created_at %></p>
</div>

<%= link_to "Edit", edit_reservation_path(@reservation) %>
<%= button_to "Destroy", @reservation, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back to Reservations", reservations_path %>
