<p style="color: green"><%= notice %></p>

<div>
  <p><strong>Reservation ID:</strong> <%= @reservation.id %></p>
  <p><strong>Reservation Date:</strong> <%= @reservation.created_at %></p>
</div>

<div>
  <%= link_to "Edit this reservation", edit_reservation_path(@reservation) %> |
  <%= link_to "Back to reservations", reservations_path %>

  <%= button_to "Destroy this reservation", @reservation, method: :delete %>
</div>