<!DOCTYPE html>
<html>

<header>
    <%= image_tag("johsi.png") %>
  </header>
<head>
  <title>Your App Title</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  

  <%= yield %>

</body>
</html>
